<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DataSource" value="localhost"/>
    <add key="IntegratedSecurity" value="False"/>
    <add key="UserID" value="LLU_LocalDBAccess"/>
    <add key="Password" value="1234"/>
    <add key="InitialCatalog" value="axdb_LLU"/>

    <add key="AP_Comment" value="Testing from Lars Lund"/>
    <add key="sqlHeader" value="sqltext;session_id;status;command;cpu_time;total_elapsed_time"/>
    <add key="sql_OLDVersion" value="SELECT sqltext.TEXT,req.session_id,req.status,req.command,req.cpu_time,req.total_elapsed_time FROM sys.dm_exec_requests req CROSS APPLY sys.dm_exec_sql_text(sql_handle) AS sqltext"/>
    <add key="sql" value="SELECT sqltext.TEXT + ';'+str(req.session_id) + ';' + req.status + ';'+req.command + ';'+str(req.cpu_time) + ';'+str(req.total_elapsed_time) FROM sys.dm_exec_requests req CROSS APPLY sys.dm_exec_sql_text(sql_handle) AS sqltext"
  </appSettings>
</configuration>